.image-reveal{
    position: absolute;
    width: 180px;
    height: 180px;
    z-index: 9999;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

[data-reveal-image]{
    position: relative;
    color: green;
}

[data-reveal-image]::after{
    content: '';
    width: 100%;
    bottom: 0.25rem;
    left: 2px;
    position: absolute;
    height: 2px;
    background: currentColor;
    display: block;
    transform: scale3d(0,1,1);

}

[data-reveal-image]:hover::after{
        transform: scale3d(1,1,1);
}

@keyframes underline {
    from {
        
    }
}  