@import "reset";
@import "animations";
@import "fonts";
@import "portfolio";
@import "screen";
@import "container";
@import "imgreveal";

$green : #bfff07;
$secondary-black: #0b0b0b;
$main-black: #000000;
 