html {
    font-size: 0.5208333333vw;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
    text-rendering: geometricPrecision;
  }
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  ul, ol{
    list-style: none;
  }